[build]
  publish = "."

[build.environment]
  GENERATE_SOURCEMAP = "false"
  NODE_ENV = "production"

[[redirects]]
  from = "/*.map"
  to = "/404.html"
  status = 404
  force = true

[[redirects]]
  from = "/**/SemanticResourceAttributes.js.map"
  to = "/404.html"
  status = 404
  force = true

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
    X-XSS-Protection = "1; mode=block"

[[headers]]
  for = "/*.js"
  [headers.values]
    Cache-Control = "public, max-age=604800"
    X-SourceMap = "0"

[[headers]]
  for = "/*.css"
  [headers.values]
    Cache-Control = "public, max-age=604800"